.transaction-form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    .logo {
      display: block;
      max-width: 150px;
      margin: 0 auto 20px;
    }
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }
  
    .transaction-form {
      display: flex;
      flex-direction: column;
      gap: 15px;
  
      .form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;
  
        label {
          font-size: 16px;
          font-weight: bold;
          color: #555;
        }
  
        input,
        select {
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
          outline: none;
  
          &:focus {
            border-color: #007bff;
          }
        }
      }
  
      button {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #681CE3;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  